@model IEnumerable<TransportadoraMVC.UsuarioReference.Usuario>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/usuarios.js"></script>
<h2>Datos Cuenta</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosUsuarios">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Usuario</h4>
        <div id="datosdetalleUsuario">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Eliminar Usuario</h4>
        <h5 class="fuenteTitulo">¿Está seguro que desea eliminar este elemento?</h5>
    </div>
    <div class="modal-footer">
        <form class="col s12">
            <div class="row">
                <div id="datoseliminarUsuario">
                </div>
            </div>
        </form>
    </div>
</div>