@model IEnumerable<TransportadoraMVC.Models.Actividad>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/actividades.js"></script>
<h2>Lista Actividades</h2>

<p>
    @Html.ActionLink("Crear Actividad", "Create", null, new { @class = "btnContrasena", type = "button" })
</p>

<div id="datosActividades">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Actividad</h4>
        <div id="datosdetalleActividad">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

