
@{
    ViewBag.Title = "_LayoutLogin";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/Content/principal.css" rel="stylesheet" />
    <script src="~/Scripts/materialize/js/materialize.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/iniciarMaterialize.js"></script>
    <title>Inicio Transportadora</title>
</head>
<body class="teal lighten-5" ng-app="mainModule" ng-controller="mainController">
      
    @RenderBody()        
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


