<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.js"></script>
    <link href="~/Scripts/materialize/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/iniciarMaterialize.js"></script>
</head>
<body>
    <div class="col s8">
        @RenderBody()
    </div>
         

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
