@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 class="bienvenida">BIENVENIDOS A LA TRANSPORTADORA A&J</h1>
    <p class="texto">Donde puedes importar y exportar tu mercancia de forma segura</p>
</div>