body{
    font-family: 'Bebas Neue', cursive;
}

.logo{
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 80px;
    width: 130px;
}

li{
    display: inline;
    margin-right: 20px;
    font-size: 24px;
}

li > a{
    color: #546e7a;
}

li:hover{
    border-bottom: 4px #48add9 solid;
    cursor: pointer;
}

footer{
    background-color: #48add9 !important;
    padding: 20px;    
}

.texto-footer{
    color: white;
    font-family: 'Rajdhani', sans-serif;;
    letter-spacing: 2px;
    font-weight: bold;
}

.margen-Menu{
    margin-top: 45px;
    margin-left: 200px;
}

.bienvenida {
    color: #48add9 !important;
    font-weight: bold !important;
    font-family: 'Fjalla One', sans-serif !important;
    letter-spacing: 5px !important;
    padding-top: 40px;
    text-align: center;
    font-size: 100px;
}

.btnContrasena {
    background-color: #48add9;
    width: 170px;
    height: 30px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.btnGenerico {
    background-color: #48add9;
    width: 120px;
    border: none;
    height: 30px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.btnGenerico2 {
    background-color: #48add9;
    width: 120px;
    border: none;
    height: 50px;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.btnGuardar {
    background-color: #48add9;
    width: 120px !important;
    border: none;
    height: 30px !important;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    color: #48add9;
    letter-spacing: 1.5px;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: #607d8b;
    letter-spacing: 1.5px;
}

.fuente {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}

.fuenteTitulo {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    color: #607d8b;
}

.regresar {
    font-family: font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}

.margenBoton{
    margin: 5px;
}

.texto {
    font-family: font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: #607d8b;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}

.datepicker-date-display {
    background-color: #48add9 !important;
}

.datepicker-table td.is-selected {
    background-color: #48add9 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #48add9 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #48add9 !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #48add9;
    -webkit-box-shadow: 0 1px 0 0 #48add9;
    box-shadow: 0 1px 0 0 #48add9;
}

.modal {
   min-height: 500px;
}