@model IEnumerable<TransportadoraMVC.EmbarqueReference.Embarque>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/embarques.js"></script>
<h2>Datos de Embarques</h2>

<p>
    @Html.ActionLink("Nuevo Embarque", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosEmbarques">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalles del Embarque</h4>
        <div id="datosdetalleEmbarque">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Trazabilidad del Embarque</h4>
        <div id="datosTrazabilidadEmbarque">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col col s5 input-field">
                        <input id="tipoOperacion" name="tipoOperacion" type="text">
                        <label for="tipoOperacion">Tipo de Operación: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col s5 input-field">
                        <input id="paisOrigen" name="paisOrigen" type="text">
                        <label for="paisOrigen">Pais Origen: </label>
                    </div>
                    <div class="col col s5 input-field">
                        <input id="ciudadOrigen" name="ciudadOrigen" type="text">
                        <label for="ciudadOrigen">Ciudad Origen: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col s5 input-field">
                        <input id="paisDestino" name="paisDestino" type="text">
                        <label for="paisDestino">Pais Destino: </label>
                    </div>
                    <div class="col col s5 input-field">
                        <input id="ciudadDestino" name="ciudadDestino" type="text">
                        <label for="ciudadDestino">Ciudad Destino: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col s5 input-field">
                        <input id="kilos" name="kilos" type="text">
                        <label for="kilos">Kilos: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col s5 input-field">
                        <input id="teus" name="teus" type="text">
                        <label for="teus">Teus: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col col s5">
                        <input id="idEmbarque" name="idEmbarque" type="text" disabled>
                        <label for="idEmbarque">Id Embarque </label>
                    </div>
                </div>

                <div class="form-group fuente">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Guardar" class="btnGuardar" onclick="GuardarTrazabilidad()" />
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal3" class="modal">
    <div class="modal-content">
        <h4>Eliminar Embarque</h4>
        <h5 class="fuenteTitulo">¿Está seguro que desea eliminar este elemento?</h5>
    </div>
    <div class="modal-footer">
        <form class="col s12">
            <div class="row">
                <div id="datoseliminarEmbarque">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Historial Trazabilidades</h4>
        <h5 class="fuenteTitulo"></h5>
    </div>
    <div class="row">
        <div id="datosTrazabilidades">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal5" class="modal">
    <div class="modal-content">
        <h4>Eliminar Trazabilidad</h4>
        <h5 class="fuenteTitulo">¿Está seguro que desea eliminar este elemento?</h5>
    </div>
    <div class="modal-footer">
        <form class="col s12">
            <div class="row">
                <div id="datosEliminarTrazabilidad">
                </div>
            </div>
        </form>
    </div>
</div>