@model IEnumerable<TransportadoraMVC.Models.Embarque>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/embarques.js"></script>
<h2>Datos de Embarques</h2>

<p>
    @Html.ActionLink("Nuevo Embarque", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosEmbarques">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalles del Embarque</h4>
        <div id="datosdetalleEmbarque">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<div id="modalTrazabilidad" class="modal">
    <div class="modal-content">
        <h4>Trazabilidad del Embarque</h4>
        <div id="datosTrazabilidadEmbarque">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>