@model IEnumerable<TransportadoraMVC.ProcesoReference.Proceso>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/procesos.js"></script>

<h2>Lista Procesos</h2>

<p>
    @Html.ActionLink("Crear Proceso", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosProcesos">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Proceso</h4>
        <div id="datosdetalleProceso">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Eliminar Proceso</h4>
        <h5 class="fuenteTitulo">¿Está seguro que desea eliminar este elemento?</h5>
    </div>
    <div class="modal-footer">
        <form class="col s12">
            <div class="row">
                <div id="datoseliminarProceso">
                </div>
            </div>
        </form>
    </div>
</div>