@model IEnumerable<TransportadoraMVC.Models.Proceso>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/procesos.js"></script>

<h2>Lista Procesos</h2>

<p>
    @Html.ActionLink("Crear Proceso", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosProcesos">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Proceso</h4>
        <div id="datosdetalleProceso">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>