@model IEnumerable<TransportadoraMVC.Models.Moneda>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/monedas.js"></script>

<h2>Lista Monedas</h2>

<p>
    @Html.ActionLink("Crear Moneda", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosMonedas">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Moneda</h4>
        <div id="datosdetalleMoneda">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
