@model IEnumerable<TransportadoraMVC.MonedaReference.Moneda>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/monedas.js"></script>

<h2>Lista Monedas</h2>

<p>
    @Html.ActionLink("Crear Moneda", "Create", null, new { @class = "btnGenerico", type = "button" })
</p>

<div id="datosMonedas">
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Detalle Moneda</h4>
        <div id="datosdetalleMoneda">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Eliminar Moneda</h4>
        <h5 class="fuenteTitulo">¿Está seguro que desea eliminar este elemento?</h5>
    </div>
    <div class="modal-footer">
        <form class="col s12">
            <div class="row">
                <div id="datoseliminarMoneda">
                </div>
            </div>
        </form>
    </div>
</div>
