
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="row center">
    <form class="frm">
        <div class="col s4"></div>
        <div class="col s4 center">
            <div class="row input-field">
                <label for="txtUsuario">Usuario</label>
                <input type="text" name="txtUsuario" id="txtUsuario" />
            </div>
            <div class="row input-field">
                <label for="txtPassword">Contraseña</label>
                <input type="password" name="txtPassword" id="txtPassword" />
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success" value="Entrar">Login</button>
            </div>
        </div>
    </form>
</div>



@section scripts
{
    <script>
    $(document).ready(function () {
        $('.frm').submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Access/Enter")"
            parametro = $(this).serialize();

            $.post(url, parametro, function (data) {
                if (data === "1") {
                    document.location.href = "@Url.Content("~/")";
                }
                else {
                    alert(data)
                }
            })
        })
    });

    </script>
}